<section id="agenda">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="font-logo">Agenda</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <ul class="media-list">
          <li class="media">
            <div class="media-body">
              <h4 class="media-heading">04 de Abril de 2016</h4>
              Capacitação do quadro de funcionários da instituição, Ação conjunta ao Centro de Controle de Zoonose
            </div>
          </li>
          <li class="media">
            <div class="media-body">
              <h4 class="media-heading">18 de Abril de 2016</h4>
              Palestras a partir do dia 18 de abril
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
