<section id="sobre">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="font-logo">Sobre</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>O projeto Todos Contra Um nasceu a partir do desejo e da necessidade de informar, alertar e sensibilizar a população contra o Aedes Aegpti que vem tirando o sono da população.</div>
          <div class="col-lg-4">
            <p>Uma iniciativa da DeVry Jr com a colaboração dos alunos da Faculdade Ruy Barbosa visa realizar uma campanha que mobilize a sociedade a combater o mosquito.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
